<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".ejs" mimeType="application/x-javascript" />
		</staticContent>
		<rewrite>
			<rules>
				<rule name="rule 1" stopProcessing="false">
					<match url="^(assets|forum|application|index\.php|favicon\.ico|sitemap\.xml|setup|interface)($|/)" />
					<action type="None" />
				</rule>
				<rule name="rule 2" stopProcessing="false">
					<match url="^news/(.*)/([0-9]+)\/?$" ignoreCase="true" />
					<action type="Rewrite" url="home/read-news/{R:1}/{R:2}" />
				</rule>
				<rule name="rule 3" stopProcessing="false">
					<match url="^character/(.*)/(.*)\/?$" ignoreCase="true" />
					<action type="Rewrite" url="info/character/{R:1}/{R:2}" />
				</rule>
				<rule name="rule 4" stopProcessing="false">
					<match url="^guild/(.*)/(.*)\/?$" ignoreCase="true" />
					<action type="Rewrite" url="info/guild/{R:1}/{R:2}" />
				</rule>
				<rule name="rule 5" stopProcessing="false">
					<match url="^vote-reward\/?$" ignoreCase="true" />
					<action type="Rewrite" url="account-panel/vote-reward" />
				</rule>
				<rule name="rule 6" stopProcessing="false">
					<match url="^account-logs\/?$" ignoreCase="true" />
					<action type="Rewrite" url="account-panel/logs" />
				</rule>
				<rule name="rule 7" stopProcessing="false">
					<match url="^settings\/?$" ignoreCase="true" />
					<action type="Rewrite" url="account-panel/settings" />
				</rule>
				<rule name="rule 8" stopProcessing="false">
					<match url="^logout\/?$" ignoreCase="true" />
					<action type="Rewrite" url="account-panel/logout" />
				</rule>
				<rule name="rule 9" stopProcessing="false">
					<match url="^reset-character\/?$" ignoreCase="true" />
					<action type="Rewrite" url="account-panel/reset" />
				</rule>
				<rule name="rule 10" stopProcessing="false">
					<match url="^grand-reset-character\/?$" ignoreCase="true" />
					<action type="Rewrite" url="account-panel/grand-reset" />
				</rule>
				<rule name="rule 11" stopProcessing="false">
					<match url="^add-stats\/?$" ignoreCase="true" />
					<action type="Rewrite" url="account-panel/add-stats" />
				</rule>
				<rule name="rule 12" stopProcessing="false">
					<match url="^add-stats/(.*)\/?$" ignoreCase="true" />
					<action type="Rewrite" url="account-panel/add-stats/{R:1}" />
				</rule>
				<rule name="rule 13" stopProcessing="false">
					<match url="^reset-stats\/?$" ignoreCase="true" />
					<action type="Rewrite" url="account-panel/reset-stats" />
				</rule>
				<rule name="rule 14" stopProcessing="false">
					<match url="^hide-character-info\/?$" ignoreCase="true" />
					<action type="Rewrite" url="account-panel/hide-info" />
				</rule>
				<rule name="rule 15" stopProcessing="false">
					<match url="^exchange-wcoins\/?$" ignoreCase="true" />
					<action type="Rewrite" url="account-panel/exchange-wcoins" />
				</rule>
				<rule name="rule 16" stopProcessing="false">
					<match url="^warp-char\/?$" ignoreCase="true" />
					<action type="Rewrite" url="account-panel/warp-char" />
				</rule>
				<rule name="rule 17" stopProcessing="false">
					<match url="^pk-clear\/?$" ignoreCase="true" />
					<action type="Rewrite" url="account-panel/pk-clear" />
				</rule>
				<rule name="rule 18" stopProcessing="false">
					<match url="^clear-inventory\/?$" ignoreCase="true" />
					<action type="Rewrite" url="account-panel/clear-inventory" />
				</rule>
				<rule name="rule 19" stopProcessing="false">
					<match url="^zen-wallet\/?$" ignoreCase="true" />
					<action type="Rewrite" url="account-panel/zen-wallet" />
				</rule>
				<rule name="rule 20" stopProcessing="false">
					<match url="^clear-skilltree\/?$" ignoreCase="true" />
					<action type="Rewrite" url="account-panel/clear-skilltree" />
				</rule>
				<rule name="rule 21" stopProcessing="false">
					<match url="^(.*)" />
					 <conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.php?action={R:1}" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>