{
  "map_codes": {
    "0": "Lorencia",
    "1": "Dungeon",
    "2": "Devias",
    "3": "Noria",
    "4": "Lost Tower",
    "5": "Exile",
    "6": "Arena",
    "7": "Atlans",
    "8": "Tarkan",
    "9": "Devil Square I-IV",
    "10": "Icarus",
    "11": "Blood castle I",
    "12": "Blood castle II",
    "13": "Blood castle III",
    "14": "Blood castle IV",
    "15": "Blood castle V",
    "16": "Blood castle VI",
    "17": "Blood castle VII",
    "18": "Chaos Castle I",
    "19": "Chaos Castle II",
    "20": "Chaos Castle III",
    "21": "Chaos Castle IV",
    "22": "Chaos Castle V",
    "23": "Chaos Castle VI",
    "24": "Kalima I",
    "25": "Kalima II",
    "26": "Kalima III",
    "27": "Kalima IV",
    "28": "Kalima V",
    "29": "Kalima VI",
    "30": "Valley Of Loren",
    "31": "Land Of Trial",
    "32": "Devil Square V-VI",
    "33": "Aida",
    "34": "CryWolf",
    "36": "Kalima VII",
    "37": "Kantru",
    "38": "Kantru Ruins",
    "39": "Kantru Tower",
    "40": "Silent Map",
    "41": "Refuge of Balgass",
    "42": "Barracks of Balgass",
    "45": "Illusion Temple I",
    "46": "Illusion Temple II",
    "47": "Illusion Temple III",
    "48": "Illusion Temple IV",
    "49": "Illusion Temple V",
    "50": "Illusion Temple VI",
    "51": "Elbeland",
    "52": "Blood Castle VIII",
    "53": "Chaos Castle VII",
    "56": "Swamp Of Calmness",
    "57": "Raklion",
    "58": "Raklion Hatchery",
    "62": "Santa Village",
    "63": "Vulcanus",
    "64": "Duel Arena",
    "65": "Doppel Ganger-A",
    "66": "Doppel Ganger-B",
    "67": "Doppel Ganger-C",
    "68": "Doppel Ganger-D",
    "69": "Empire Guardian-A",
    "70": "Empire Guardian-B",
    "71": "Empire Guardian-C",
    "72": "Empire Guardian-D",
    "79": "Loren Market",
    "80": "Kalrutan",
    "81": "Kalrutan 2",
    "82": "Doppel Ganger Renewal",
    "91": "Acheron",
    "92": "Acheron 2",
    "95": "Debenter",
	"96": "Debenter 2",
    "97": "Chaos Castle Battle",
    "98": "Illusion Temple League",
    "99": "Illusion Temple League 2",
    "100": "UrkMountain",
    "101": "UrkMountain 2",
    "102": "Tormented Square of the Fittest",
    "103": "Tormented Square Battle",
    "104": "Tormented Square Battle",
    "105": "Tormented Square Battle",
    "106": "Tormented Square Battle",
    "110": "Nars",
	"112": "Ferea",
	"113": "Nixie Lake",
	"116": "DeepDungeon 1",
	"117": "DeepDungeon 2",
	"118": "DeepDungeon 3",
	"119": "DeepDungeon 4",
	"120": "DeepDungeon 5",
	"122": "SwampOfDarkness",
	"123": "KuberaMine1",
	"124": "KuberaMine2",
	"125": "KuberaMine3",
	"126": "KuberaMine4",
	"127": "KuberaMine5",
	"128": "AbyssOfAtlas 1",
	"129": "AbyssOfAtlas 2",
	"130": "AbyssOfAtlas 3",
	"131": "ScorchedCanyon",
	"132": "RedIcarus",
	"133": "ArnilTemple",
	"134": "Gray Aida",
	"135": "Old Kethotum",
	"136": "Burning Kethotum",
	"137": "Kanturu Underground",
	"138": "Volcano Ignis",
	"139": "BossBattle",
    "140": "Bloody Tarkan",
    "141": "Tormenta Island"
  }
}